<!-- <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">PropListings</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a [routerLink]="['/']">Home</a></li>
          <li *ngIf="(af.auth | async)"><a [routerLink]="['/item']">News</a></li>
          <li *ngIf="(af.auth | async)"><a [routerLink]="['/additem']">Add Newa</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!(af.auth | async)"><a (click)="login()">Login</a></li>
          <li *ngIf="(af.auth | async)"><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="font-family: 'Quicksand', sans-serif; font-size: 20px">
  <a class="navbar-brand" href="#"><i>QuickNews</i> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only"></span></a>
      </li>
      <!-- <li  class="nav-item">
        <a class="nav-link" [routerLink]="['/additem']">ADD NEWS</a>
      </li> -->
      <li *ngIf="afAuth.user | async as user" class="nav-item">
        <a class="nav-link" [routerLink]="['/item']">News</a>
      </li>
      <li *ngIf="afAuth.user | async as user" class="nav-item">
        <a class="nav-link" [routerLink]="['/queries']">Queries</a>
      </li>
      

      <li *ngIf="afAuth.user | async as user" class="nav-item">
        <a class="nav-link" [routerLink]="['/subscribe']">NewsPaper</a>
      </li>
      <!-- <li *ngIf="afAuth.user | async as user" class="nav-item">
          <a class="nav-link" [routerLink]="['/subscribers']">VIEW_SUBSCRIBES</a>
        </li> -->
      <!-- <li #showLogin class="nav-item">
        <a class="nav-link" (click)="login()" style="cursor: pointer;" >LOGIN</a>
      </li> -->
      <li *ngIf="afAuth.user | async as user" class="nav-item">
          <a class="nav-link" (click)="logout()" style="cursor: pointer;">LOGOUT</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngIf="afAuth.user | async as user" [routerLink]="['/subscribers']">View Subscribers</a>
          <a class="dropdown-item" *ngIf="afAuth.user | async as user" [routerLink]="['/additem']">Add News</a>
          <a class="dropdown-item" *ngIf="afAuth.user | async as user" [routerLink]="['/authors']">Authors</a>
          <!-- <a class="dropdown-item" *ngIf="afAuth.user | async as user" [routerLink]="['/erdiagram']">ER Diagram</a> -->

          <div class="dropdown-divider"></div>
          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
      <!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> -->
      <button *ngIf="auth.canEdit(user) | async as user"  (click)="editPost()" class="btn btn-secondary my-2 my-sm-0" type="submit">ADD ITEM</button>
      
    </form>
  </div>

</nav>
<!-- <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </ng-template> -->