<h1>Authors of our articles</h1>
<div *ngIf="authors?.length > 0;else noItems">
  <ul *ngFor="let author of authors" style="list-style:none">
    <div class="alert alert-warning">
      <li>
        <h2>Name: {{author.name}}</h2>
        <h5>Age: {{author.age}}</h5>
        <p>Address: {{author.address}}</p>
        <p>Contact: {{author.contact}}</p>



      </li>
    </div>
  </ul>
</div>


<ng-template #noItems>
  <div class="container">
    <strong>LOADING WAIT</strong>
  </div>
</ng-template>