<!-- <div class="card">
  <div class="card-content">
    <span class="card-title">Add Item</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" placeholder="Add Title" [(ngModel)]="item.title" name="title">
          <label>Title</label>
        </div>
        <div class="input-field col s6">
          <input type="text" placeholder="Add Description" [(ngModel)]="item.description" name="description">
          <label>Description</label>
        </div>
        <input type="submit" value="Submit" class="btn">
      </div>
    </form>
  </div>
</div> -->
<a [routerLink]="[ '/item']">Go Back</a>
<br>
<form (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Title</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Title" [(ngModel)]="item.title" name="title" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Category</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Category" [(ngModel)]="item.category" name="category" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Description</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Description" [(ngModel)]="item.description" name="description" required>
    </div>
    <div class="form-group">
      <label for="inputAddress2">Region</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Region" [(ngModel)]="item.region" name="region" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Stream</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Stream" [(ngModel)]="item.stream" name="stream" required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputCity">Language</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Language" [(ngModel)]="item.language" name="language" required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputCity">Author</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Author" [(ngModel)]="item.author" name="author" required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputCity">datetime</label>
        <input type="number" class="form-control" id="inputCity" placeholder="datetime" [(ngModel)]="item.datetime" name="datetime" required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Image</label>
        <input   name="image" id="image" type="file" class="form-control">
      </div>
    </div>
   
    <button type="submit" class="btn btn-primary">Add News</button>
  </form>