<div *ngIf="subscribers?.length > 0;else noItems">
  <ul *ngFor="let subscriber of subscribers" style="list-style:none">
    <div class="alert alert-success">
      <li>
        <h2>Name: {{subscriber.name}}</h2>
        <h5>email: {{subscriber.email}}</h5>
        <p>Address: {{subscriber.address}}</p>
        <p>Number: {{subscriber.number}}</p>
        <p>Language: {{subscriber.language}}</p>
        <p>Plan: {{subscriber.plan}}</p>



      </li>
    </div>
  </ul>
</div>


<ng-template #noItems>
  <div class="container">
    <strong>LOADING WAIT</strong>
  </div>
</ng-template>