<p>

</p>
<div class="btn-group" role="group" aria-label="Basic example">
  <button (click)="filterByCategory('sports')" type="button" class="btn btn-secondary">Sports</button>
  <button (click)="filterByCategory('information')" type="button" class="btn btn-secondary">Information</button>
  <button (click)="filterByCategory('advertisement')" type="button" class="btn btn-secondary">Advertisement</button>

  <button (click)="filterByCategory('politics')" type="button" class="btn btn-secondary">Politics</button>
  <button (click)="filterByCategory(null)">
    <em>clear filter</em>
  </button>

</div>
&nbsp;

<div class="btn-group" role="group" aria-label="Basic example">
  <button (click)="filterByStream('national')" type="button" class="btn btn-secondary">National</button>
  <button (click)="filterByStream('international')" type="button" class="btn btn-secondary">International</button>
  <button (click)="filterByStream(null)">
    <em>clear filter</em>
  </button>
</div>
<p>

</p>
&nbsp;

<div class="dropdown" style="display:inline-block;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Region
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button (click)="filterByRegion('karnataka')" class="dropdown-item" type="button">Karnataka</button>
    <button (click)="filterByRegion('punjab')" class="dropdown-item" type="button">Punjab</button>
    <button (click)="filterByRegion('kerala')" class="dropdown-item" type="button">Kerala</button>
    <button (click)="filterByRegion('goa')" class="dropdown-item" type="button">Goa</button>
    <button (click)="filterByRegion('andhra pradesh')" class="dropdown-item" type="button">Andhra Pradesh</button>
    <button (click)="filterByRegion('westbengal')" class="dropdown-item" type="button">West Bengal</button>
    <button (click)="filterByRegion('delhi')" class="dropdown-item" type="button">Delhi</button>
    <button (click)="filterByRegion(null)" class="dropdown-item" type="button">Clear filter</button>




  </div>
</div>
&nbsp;
<div class="dropdown" style="display:inline-block;">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Language
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button (click)="filterByLanguage('kannada')" class="dropdown-item" type="button">Kannada</button>
    <button (click)="filterByLanguage('hindi')" class="dropdown-item" type="button">Hindi</button>
    <button (click)="filterByLanguage('english')" class="dropdown-item" type="button">English</button>
    <button (click)="filterByLanguage('malayalam')" class="dropdown-item" type="button">Malayalam</button>
    <button (click)="filterByLanguage(clear)" class="dropdown-item" type="button">Clear Filter</button>



  </div>

</div>


&nbsp;
<div class="dropdown" style="display:inline-block;">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Author
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button (click)="filterByAuthor('lankesh')" class="dropdown-item" type="button">Lankesh</button>
    <button (click)="filterByAuthor('saikumar')" class="dropdown-item" type="button">Saikumar</button>
    <button (click)="filterByAuthor('suresh')" class="dropdown-item" type="button">Suresh</button>
    <button (click)="filterByAuthor('pradyumnya')" class="dropdown-item" type="button">Pradumnya</button>
    <button (click)="filterByAuthor(clear)" class="dropdown-item" type="button">Clear Filter</button>



  </div>

</div>


<p>

</p>


<!-- <div *ngIf="items$ | async; let items; else loading">
  <ul>
    <li *ngFor="let item of items">
      {{ item.text }}
    </li>
  </ul>
  <div *ngIf="items.length === 0">No results, try clearing filters</div>
</div>
<ng-template #loading>Loading&hellip;</ng-template> -->


<div *ngIf="items | async; let items ;else noItems" class="card text-center">
  <ul *ngFor="let item of items" style="list-style:none">
    <li>
      <div class="card-header bg-primary">
        {{item.category}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p class="card-text">{{item.region}}</p>
        <!-- <a [routerLink]="['/queries/'+item.id]" class="btn btn-primary">Go somewhere</a> -->
      </div>
      <div class="card-footer text-muted  bg-dark">
        {{item.stream}}
      </div>
    </li>
  </ul>
</div>


<ng-template #noItems>
  <div class="container">
    <strong>LOADING WAIT</strong>
  </div>
</ng-template>